.btn-crud{
    display: table-cell;
    left: auto;
}

.btn-volver{
    position: absolute;
    right: 10px;
}

.form-control{
    text-align: center;
    border: black;
}


.form-group{
    width: 100%;
    text-align: center;
}
