.title-galeria{
  text-align: center;
  
}

.login{
    width: 100%;
    text-align: center;
  }
  
  .form-date{
    min-width: 150px;
    max-width: 600px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-field{
    width: 100%;
    text-align: center;
  }
  
  