<mat-card>
    <h2>Ingrese el nombre y foto para la Galeria</h2>
    <form class="form-date">
      <mat-form-field class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput  placeholder="Ingresar Nombre" id="nombre">
      </mat-form-field>
    </form>
  
    <form class="form-date">
      <mat-form-field class="form-field">
        <mat-label>Foto</mat-label>
        <input matInput placeholder="Ingresar Apellido" id="apellido" class="form-control">
      </mat-form-field>
    </form>


    <form class="form-date">
      <div>
        <button mat-raised-button class="button-solicitud" color="primary">Enviar Solicitud</button>
      </div>
    </form>