

.button-login{
    position: absolute;
    right: 10px;
}

.title{
    position: absolute;
    left: 70px;
}

.sidenav-content{
    position: relative;
    top: auto;
}


.container { 
    background: white; 
    max-width: 100%;
   }


.perfil{
    max-width: 100%;
}

.titulo{
    background-color: rgb(235, 116, 36);
}

.tituloBlanco{
    background-color: rgb(255, 255, 255);
}

.colorLogout{
    background-color:black;
}

.titulo-izquierdo{
    background-color: rgb(236, 89, 20);
}

.sidenav{
    background-color: rgb(235, 116, 36);
    height: 100%;
    width: 300px;
    
}

.container-bar{
    height: 1050px
}



/*
.container-router{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

*/
