
<mat-drawer-container>
    <mat-drawer #drawer mode="side">

        <mat-list>
            <mat-list-item [routerLink]="['/home']">Home</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]= "['/solicitud']">Solicitud</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]= "['/empleado']">Empleado</mat-list-item>
        </mat-list>
    </mat-drawer>

    <div>
        <p>
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                mat-raised-button color="primary" (click)="drawer.toggle();">
                    <mat-icon>menu</mat-icon>
                </button> 
    
                <span class="title">Private English</span>

                <div class="example-spacer"></div>

                <a mat-raised-button color="accent" >Login</a>

            </mat-toolbar>

        </p>
        <router-outlet></router-outlet>
    </div>



</mat-drawer-container>

