<mat-card>
    <h2>Ingrese el nombre y foto para la Galeria</h2>
    <form class="form-date">
      <mat-form-field class="form-field">
        <mat-label>Nombre Foto</mat-label>
        <input matInput  placeholder="Ingresar Nombre" id="titulo" name="titulo" [(ngModel)]="galeria.titulo" #name="ngModel">
      </mat-form-field>

      <br>
      <br>

      <input type="file" (change)='fileEvent($event)'>

    </form>

    <br>

    <form class="button">
      <div>
        <button mat-raised-button class="button-solicitud" (click)="Add();" color="primary">Agregar Foto</button>
      </div>
    </form> 