<div>
  <mat-card class="form-date">
   <mat-toolbar color="primary">
     <h1 class="login">Login</h1>
    </mat-toolbar>

   <br>
    
    <form >      
      <mat-form-field class="form-field">
        <input matInput placeholder="Ingresar el Usuario" type="text">
      </mat-form-field>
    </form>

    <br>

    <form>
      <mat-form-field class="form-field">
        <input matInput placeholder="Ingresar el Constraseña" type="password">
      </mat-form-field>
    </form>

    <br>

    <button mat-flat-button class="btn btn-primary btn-block" color="primary">Ingresar</button>
    

  </mat-card>

</div>

