<div>
  <mat-card class="form-date">
   <mat-toolbar class="title-login">
     <h1 class="login">Login</h1>
    </mat-toolbar>

   <br>
    
    <form >      
      <mat-form-field class="form-field">
        <input matInput placeholder="Ingresar el Usuario" type="text" id="usuario" name="usuario" [(ngModel)]="user.usuario" #name="ngModel">
      </mat-form-field>
    </form>

    <br>

    <form>
      <mat-form-field class="form-field">
        <input matInput placeholder="Ingresar el Constraseña" type="password" id="password" name="password" [(ngModel)]="user.password" #name="ngModel">
      </mat-form-field>
    </form>

    <br>

    <button mat-flat-button class="btn btn-primary btn-block" class="button-login"  (click)= "login()" >Ingresar</button>
    

  </mat-card>

</div>

