<div class="row">
    <div class="col-md-4 mt-5" >
        <div class="card">
            <div class="card-header">
                <span>Archivos</span>
            </div>
            <div class="card-body">
                <div 
                    appNgGaleriaFiles
                    (mouseOver)="isOverDrop = $event"
                    [ngClass]="{ 'file-over': isOverDrop }"
                    class="drop-zone">
                    Drop-zone
                   <h4>Drop here your images</h4>
                     <img src="https://raw.githubusercontent.com/bezael/Login_Angular_9_Firebase_Bootstrap_4/master/src/assets/img/cloud.png" alt="drop-images">
                </div>
                <br>
                <div>
                    <mat-form-field class="input-titulo">
                        <mat-label>Titulo</mat-label>
                        <textarea matInput placeholder="Ingrese el titulo de la imagen."></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 mt-5">
        <div class="card">
            <div class="card-header">
                <h4>Listado de Archivos</h4>
            </div>

            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>File name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                </table>
                <div class="container-buttons">
                    <button  class="btn btn-danger">
                        Borrar
                    </button>
                    <button  class="btn btn-primary btn-sm ml-auto">
                        Subir
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>